$body-bg: #cbd8ed;
$general-color-bg: #659DBD;
$general-color-font: #17252A;
$secondary-color-font: #DEF2F1;
$valid-color: #07ea62;
$invalid-color: #ea3b07;
$color-btn-cancel: #f25757;
$hover-btn-submit: #00a843;
$hover-checkbox: #96b6ea;

$big-font: 30px;
$mid-font: 25px;
$sm-font: 20px;
$smaller-font: 15px;

$general-font-family: 'Josefin Sans', Arial, sans-serif;
